/* 基础样式
date:2019-11-20 */
@import './variable.less';
.border-shadow{
	box-shadow:0 0 .05rem .03rem rgba(50,192,222,.3);
}

/* 字体颜色 */
.t-white{color:@t-white;}
.t-primary{color:@t-primary;}
.t-danger{color:@t-red;}
.t-gray1{color:@t-gray1;}
.t-gray2{color:@t-gray1;}
.t-gray3{color:@t-gray3;}
.t-dark{color:@t-dark;}
.t-black{color:@t-black;}

/* 字号 */
.t-10{font-size:@t-10;}
.t-12{font-size:@t-12;}
.t-13{font-size:@t-13;}
.t-14{font-size:@t-14;}
.t-16{font-size:@t-16;}
.t-18{font-size:@t-18;}
.t-20{font-size:@t-20;}
.t-24{font-size:@t-24;}
.t-30{font-size:@t-30;}
