/* css变量 */
@primary-color:#208af0;
@yellow-color:#fdcb42;
@warn-color:#fd3b49;
@white-color:#fff;
@gray-color:#999;
@background-color:#f6f6f6;
@border-color:#ddd;
@disabled-deep-color:#bcbcbc;// 禁用色1
@disabled-shallow-color:#d1d1d1;// 禁用色2
@green-color:#2BC017;
